<div>Name: <%= @user.first_name %></div>
<div>Surname: <%= @user.last_name %></div>
<div>E-mail: <%= @user.email %></div>
<% if @user.id == current_user.id %>
  <%= link_to 'Create campain', new_campaign_path, class: "btn btn-outline-primary" %>
  <%= link_to "Edit profile", edit_user_registration_path(@user), class: "btn btn-outline-success" %>
<% end %>

<% @campaigns.each do |campaign| %>
<div class="card text-center bg-<%= cookies[:theme] == "light" ? "light" : "dark" %>">
  <div class="card-header">
    <% campaign.areas.each do |area| %>
      <%= area.name %>
    <% end %>
  </div>
  <div class="card-body">
    <h5 class="card-title">
      <%= campaign.name %>
    </h5>
    <p class="card-text"><%= campaign.description %></p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-muted">
    <% if @user.id == current_user.id %>
      Your campaign
    <% else %>
      <%=  @user.first_name %>'s campaign
    <% end %>
  </div>
</div>
<% end %>

<% @bonuses.each do |bonuse| %>
<div class="card text-center bg-<%= cookies[:theme] == "light" ? "light" : "dark" %>">
  <div class="card-header">
    <%= bonuse.name %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= bonuse.price %>$</h5>
    <p class="card-text"><%= bonuse.description %></p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-muted">
  <% if @user.id == current_user.id %>
      Your bonuse from "<%= bonuse.campaign.name %>"
    <% else %>
      <%=  @user.first_name %>'s bonuse from "<%= bonuse.campaign.name %>"
    <% end %>
  </div>
</div>
<% end %>
