<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= form_with(model: [@campaign, @bonuse], class: "shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>

      <div class="form-group row">
        <%= f.label :name, class: "col-2 col-form-label text-light" %>
        <div class="col-10">
          <%= f.text_field :name, class: "form-control shadow rounded", placeholder: "Name of bonuse" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :description, class: "col-2 col-form-label text-light" %>
        <div class="col-10">
          <%= f.text_area :description, rows: 10, class: "form-control shadow rounded", placeholder: "Description of campaign" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label "Price ($)", class: "col-2 col-form-label text-light" %>
        <div class="col-10">
          <%= f.number_field :price, rows: 10, class: "form-control shadow rounded", placeholder: "Dollars only" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.submit class: "btn btn-outline-light" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
