<div class="card text-center bg-<%= cookies[:theme] == "light" ? "light" : "dark" %>">
  <div class="card-header">
    <%= @bonuse.name %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @bonuse.price %>$</h5>
    <p class="card-text"><%= @bonuse.description %></p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<%= link_to "Move to campaign", campaign_path(@campaign), class: "btn btn-outline-success" %>