<div class="container">
  <div class="row d-flex align-items-center flex-column">
    <% @campaigns.each do |campaign| %>
    <div class="col-sm-6">
      <div class="card bg-<%= cookies[:theme] == "light" ? "light" : "dark" %>">
        <div class="card-body">
          <h5 class="card-title">Title: <%= campaign.name %></h5>
          <p class="card-text">Description: <%= campaign.description %></p>
           <p class="card-text">Owner: <%= link_to campaign.user.full_name, user_path(campaign.user) %></p>
          <%= link_to 'View', campaign_path(campaign), class: 'btn btn-outline-primary' %>
          <%= link_to 'Edit', edit_campaign_path(campaign), class: 'btn btn-outline-success' %>
          <%= link_to 'Delete', campaign_path(campaign), method: :delete,remote: :true, data: { confirm: "Are you sure?" }, class: 'btn btn-outline-danger' %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
